* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    /* outline: 1px solid #ff0000; */
    scroll-behavior: smooth;
}

body {
    background-color: #000000;
}

#nav {
    width: 100%;
    height: 5rem;
    border: none;
}

.nav-logo {
    height: 5rem;
    margin-right: auto;
}

.nav-menu {
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

.nav-item {
    color: #272727;
    margin: 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
}








.grid-box1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #ffffff00;
}

.grid-child1 {
    display: grid;
}






.grid-box2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #ffffff00;
}

.grid-child2 {
    display: grid;
}





.text1 {
    font-size: 4rem;
}

.text2 {
    font-size: 2rem;
}

.button1 {
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    background-color: #00000000;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    padding: 1rem;
    width: fit-content;
    margin-top: 2rem;
}

.button2 {
    border-style: solid;
    border-width: 2px;
    border-color: #272727;
    background-color: #00000000;
    text-decoration: none;
    color: #272727;
    font-size: 1rem;
    padding: 1rem;
    width: fit-content;
    margin-top: 2rem;
}

.button3 {
    height: min-content;
    border-style: solid;
    border-width: 0px;
    border-radius: 4px;
    background-color: #8255ff;
    text-decoration: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    width: fit-content;
    margin-top: 2rem;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;
}

.button3:hover {
    /* background-color: #8f67ff; */
    background: linear-gradient(to bottom, #a96cff, #8255ff);
    box-shadow: 0 0px 20px #00000066;
}



.fab-container {
    display: flex;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    /* WITHOUT THIS PROPERTY, THE ANIMATIONS WILL PREVENT YOU FROM CLICKING THIS FA BUTTON */
}

.fab {
    width: 5em;
    height: 5em;
    background-image: url('../images/arrow.svg');
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 10px;
    /* color: white; */
    cursor: pointer;
    box-shadow: 0 0px 30px #0000007a;
}

.fab:hover {
    background-color: #9d9d9d;
}





/* ID'S START */

#mugshot {
    width: 20rem;
    max-width: 100%;
}

/* ID'S END */


/* MEDIA QUERIES START */

@media(max-width: 1000px) {
    #hero {
        height: 40rem !important; /* "!important" overrides any inline styling on the HTML script */
    }
}

@media(max-width: 900px) {
    .text1 {
        font-size: 2rem !important;
    }
    .text2 {
        font-size: 1rem !important;
    }
    
}

@media(max-width: 768px) {
    #nav { /* This set the nav iframe to a custom height when switched to mobile mode */
        height: 20.5rem;
    }
    .nav-logo {
        margin-right: 0;
    }
    .nav-menu {
        flex-direction: column;
    }
    #mugshot {
        width: 10rem;
    }
    .grid-box1 {
        grid-template-columns: 1fr;
    }
    .grid-box2 {
        grid-template-columns: 1fr 1fr 1fr;
    }
    #hero {
        height: 25rem !important;
    }
    #image1 {
        width: 10rem !important;
    }
}

@media(max-width: 500px) {
    .text1 {
        font-size: 2rem !important;
    }
    .grid-box2 {
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width: 412px) {
    .grid-box2 {
        grid-template-columns: 1fr;
    }
}

/* MEDIA QUERIES END */